.ant-layout-header {

  .logo {
    display: block;
    width: 5rem;
    height: 3rem;
    cursor: pointer;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("https://e-gold-cdn.xitu.io/static/logo.svg?74bae3f");
  }

}
