@import '~antd/dist/antd.less';
//@import '~antd/lib/style/themes/default.less';


@layout-body-background: #fafafa;
@layout-header-background: #ffffff;
@layout-header-height: 4.5rem;
@layout-header-padding: 0 2.5rem 0 1.8rem;
@font-size-base: 14px;
@font-size-md: 15px;

.text-primary {
  color: @primary-color;
}

.text-md {
  font-size: @font-size-md;
}

.text-lg {
  font-size: @font-size-lg;
}

.cursor-pointer {
  cursor: pointer;
}
